[submodule "linux"]
	path = linux
	url = https://github.com/VeriGu/usenix-ae-linux.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/VeriGu/vct-qemu.git
[submodule "proofs/sosp-paper211-ae-proof"]
	path = proofs/sosp-paper211-ae-proof
	url = https://github.com/VeriGu/sosp-paper211-ae-proof.git
